{{ asset_add('styles.css', 'defr.extension.chart_widget::css/chartist.css') }}

{{ asset_add('scripts.js', 'defr.extension.chart_widget::js/chartist.js') }}
{# {{ asset_add('scripts.js', 'defr.extension.chart_widget::js/chart-' ~
  config_get('defr.extension.chart_widget::chart', 'line_with_area') ~ '.js') }}
 #}

<div class="ct-chart"></div>

{% if widget.data.items is not empty %}


{#     {% for item in widget.data.items %}

    {% endfor %}
 #}
{% elseif is_array(widget.data.items) %}

    <p>{{ trans('anomaly.extension.xml_feed_widget::message.empty') }}</p>

{% else %}

    <p class="error">
        {{ trans('anomaly.extension.xml_feed_widget::message.error') }}
    </p>

{% endif %}


